/* Estilos para el cuerpo de la página */
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white; /* Color del texto predeterminado */
}

/* Estilos para el título */
h1 {
    color: #ffffff;
    background-color: #000000;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* Estilos para la imagen personalizada */
.custom-image {
    margin-top: 60px;
    font-family: Helvetica, sans-serif;
}

.custom-image img {
    max-width: 9%;
    height: auto;
}

.custom-image p {
    font-size: 24px;
}

.custom-image p:last-child {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}
